@model Models.BiereViewModel

@{
    ViewData["Title"] = "EditBiere";
}

<h2>Modifier les informations</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeDeBiere" class="control-label"></label>
                <select name="TypeDeBiere" id="TypeDeBiere">
                    @foreach (int i in Enum.GetValues(typeof(Models.typeDeBiere)))
                    {
                        <option value="@i">@Enum.GetName(typeof(Models.typeDeBiere), i)</option>
                    }
                </select>
                <span asp-validation-for="TypeDeBiere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Degre" class="control-label"></label>
                <input asp-for="Degre" class="form-control" />
                <span asp-validation-for="Degre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrasserieId" class="control-label"></label>
                <select name="BrasserieId" id="BrasserieId">
                    @foreach (Models.Brasserie brasserie in Model.Brasseries)
                    {
                        <option value="@brasserie.Id">@brasserie.Nom</option>
                    }
                </select>
                <span asp-validation-for="BrasserieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TailleBouteilleLitre" class="control-label"></label>
                <input asp-for="TailleBouteilleLitre" class="form-control" />
                <span asp-validation-for="TailleBouteilleLitre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantite" class="control-label"></label>
                <input asp-for="Quantite" class="form-control" />
                <span asp-validation-for="Quantite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixAchat" class="control-label"></label>
                <input asp-for="PrixAchat" class="form-control" />
                <span asp-validation-for="PrixAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixVente" class="control-label"></label>
                <input asp-for="PrixVente" class="form-control" />
                <span asp-validation-for="PrixAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociationId" class="control-label"></label>
                <select name="AssociationId" id="N.AssociationId">
                    @foreach (Models.Association asso in Model.A)
                    {
                        <option value="@asso.Id">@asso.Nom</option>
                    }
                </select>
                <span asp-validation-for="AssociationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}